<h1>Welcome to your to do list!</h1>
<h2>What would you like to do?</h2>
<ul>
  <li><%= link_to 'See my tasks', '/tasks' %></li>
  <li><%= link_to 'Create a new task', '/tasks/new' %></li>
  <li><%= link_to 'Update a task', '/tasks/new' %></li>
</ul>